@(folders: Seq[String])



@main("Video host (gif-preview)") {
  <h1>Welcome to video-HST</h1>

@helper.form(action = routes.HomeController.upload, 'enctype -> "multipart/form-data") {
<br>
<input type="file" name="movie"><input type="submit" value="Publish">

}
  <table>
    @for(id <- folders){
    <div align="center">
      <img src=@("/preview/" + id) align="center">
      <br>
      <div>
        <a href=@("/download/" + id)>Download video</a>
      </div>
    </div>
    }
</table>

}
